@mixin animation($animation-name,  $width,$height, $numFrames, $imgSrc, $fps){
	$duration:$numFrames / $fps;
	$frameWidth:$width/$numFrames;
	background:$imgSrc;
	width:$frameWidth;
	height:$height;
	//background-size:100%*$numFrames

	-webkit-animation: $animation-name $duration+s steps($numFrames) infinite;
}

@mixin keyframes($animation-name)
{
	@-webkit-keyframes $animation-name {
	    @content;
	}
}


//html,body{height:100%;width:100;margin:0;padding:0}
body{overflow:hidden}
#debug{
	position:absolute;
	bottom:0;
}
#audio{
	/* visibility:hidden; */
	position:absolute;
	top:0;
	left:0;
}
#face{
	transform-origin:0 0;
	/*  width:100%;
	height:100%; */
	//background:#f0f;
}
#preload{
	display:none;
}


//anim1
@include keyframes("animation")
{
	0% { background-position:    0px 0; } 
    100% { background-position: -4086px 0; }
}

.stop
{
	background-position:    0px 0;
	@include animation("",  4086px, 2043px, 2,  url('../img/normal.png'),1.5);

}



.normal
{
	@include animation("animation",  4086px, 2043px, 2,  url('../img/normal.png'),1.5);
}
.sad
{
	@include animation("animation",  4086px, 2043px, 2,  url('../img/sad.png'),1.5);
}
.angry
{
	@include animation("animation",  4086px, 2043px, 2,  url('../img/angry.png'),1.5);
}
.joy
{
	@include animation("animation",  4086px, 2043px, 2,  url('../img/joy.png'),1.5);
}




